/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
}

.navbar {
    padding: 1rem 2rem;
    background-color: #000000 !important;
}

.navbar-brand img {
    height: 40px;
}

.hero {
    background: url('/assets/hero2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero-detail {
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.hero-detail::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.section {
    padding: 4rem 0;
}

.section-abouts {
    background-color: #1b1b1b !important;
}

.section-products {
    background-color: #272627 !important;
}

.section h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.section p {
    font-size: 1.125rem;
    padding: 20px 0;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.features-list {
    list-style-type: none;
    padding: 0;
}

.feature-item {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    position: relative;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.feature-item h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.feature-description {
    display: none;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.feature-item:hover .toggle-icon {
    color: #28a745;
}

.section-feature {
    padding: 6rem 0;
    background-color: #2d3332 !important;
}

.section-feature h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.section-feature p {
    font-size: 1.125rem;
    padding: 20px 0;
}

/* Media Queries */
@media (min-width: 992px) { /* Assuming 992px is the breakpoint for large screens */
    .section {
        max-height: 722px;
        overflow: auto; /* Enables scrolling if content is larger than the container */
    }
}
